.pagination {
    justify-content: center;

}

.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.page-link {
    color: #007bff;

}

.page-link:hover {
    background-color: #f0f0f0;
}

/* Bid form input side by side */
#bidForm .input-row {
    display: flex;
    gap: 10px;
    /* দুই input এর মধ্যে ফাঁকা */
    margin-bottom: 10px;
}

#bidForm input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Submit button full width */
#bidForm .sbb {
    width: 100%;
    padding: 10px;
    background: #d9534f;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#bidForm .sbb:hover {
    background: #c9302c;
}

.pagination-wrapper {

    width: 10px;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    border-radius: 6px;

}

.pagination-wrapper .page-link {
    color: #007bff;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.pagination-wrapper .page-link:hover {
    background-color: #f0f0f0;
}